body{
    /* background-color: aliceblue; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: midnightblue;
    margin: 20px auto;
    text-align: center;
    
}
.header{
    margin: 10px auto;
    padding: 10px;
    border-bottom: 1px solid midnightblue;
    width: 10%;
}


  

